html, body{
	margin:0;
	padding:0;
	min-height:100%;
	min-width:100%;
	display:flex;
	flex-direction:column;
}

canvas{
	margin:auto;
}

.mdl-layout .mdl-layout__content{
    display: flex;
    
    .page-content{
        display: flex;
        flex:1; 
        justify-content: center;
        flex-direction: column;
                
                
                
        #noBluetooth, #stepConnect, #stepControl{
            display: flex;
            align-self: center;
        }
    }
    
    #stepControl{
        .row{
            display: flex;
            flex-direction: row;   
        }
    }
}

.demo-card-wide.mdl-card {
  width: 512px;
}
#noBluetooth .demo-card-wide > .mdl-card__title {
  color: #000;
  height: 176px;
  background: url('../assets/images/mbot_face.jpg') center / cover;
}

#stepConnect  .demo-card-wide > .mdl-card__title {
  color: #000;
  height: 176px;
  background: url('../assets/images/mbot_connect.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

